<simple-notifications></simple-notifications>
<nav class="navbar navbar-expand-lg navbar-dark" *ngIf="user">
  <div class="container-fluid container-xl">
    <a class="navbar-brand" href="#">DC</a>
    <button
      class="navbar-toggler shadow-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item" *ngFor="let menu of appMenu">
          <a
            [title]="menu.title"
            class="nav-link"
            routerLink="{{ menu.link }}"
            [routerLinkActive]="'active'"
            >{{ menu.title }}</a
          >
        </li>
        <!-- <li class="nav-item">
          <a
            class="nav-item nav-link"
            routerLink="/my-cases"
            *ngIf="isCso"
            [routerLinkActive]="'active'"
            >My Cases</a
          >
        </li> -->
        <!-- <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/create-cases"
            *ngIf="isCso"
            [routerLinkActive]="'active'"
            >Create Cases</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/users"
            *ngIf="isAdmin"
            [routerLinkActive]="'active'"
            >Users</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/create-users"
            *ngIf="isAdmin"
            [routerLinkActive]="'active'"
            >Create users</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/user-cases"
            *ngIf="isAdmin || isSupervisor"
            [routerLinkActive]="'active'"
            >User cases</a
          >
        </li> -->
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"
            >Hi,{{ user?.lastname }} ({{ user?.role?.toLowerCase() }})</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- nav -->

<!-- main app container -->
<div class="container-fluid mb-5 container-xl">
  <router-outlet></router-outlet>
</div>
