<div class="row mt-4">
  <h3 class="mt-3">User Cases</h3>
  <div class="col-12 col-md-3">
    <form [formGroup]="filterForm">
      <div>
        Filter By:
        <select
          class="form-control shadow-none form-select text-capitalize"
          formControlName="status"
          (ngModelChange)="filterCaseByStatus()"
        >
          <option class="" value="" selected disabled>SELECT STATUS</option>
          <option
            *ngFor="let status of allStatus; let i = index"
            [ngValue]="i"
            class="text-uppercase"
          >
            {{ status.toLowerCase() }}
          </option>
        </select>
      </div>
    </form>
  </div>
  <div class="col-12 col-md-2">
    <form [formGroup]="filterForm">
      <div>
        Page Size:
        <select
          (change)="onTableSizeChange($event)"
          class="form-control shadow-none form-select text-capitalize"
        >
          <option *ngFor="let size of tableSizes" [ngValue]="size">
            {{ size }}
          </option>
        </select>
      </div>
    </form>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>CreatedBy</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Action</th>
            <th>Created_At</th>
            <th>Approved_By</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let case of cases
                | paginate: { itemsPerPage: tableSize, currentPage: page };
              let i = index
            "
          >
            <td>{{ case?.id }}</td>
            <td>{{ case.createdBy }}</td>
            <td>{{ case.title }}</td>
            <td>{{ case.description }}</td>
            <td>
              <span class="status" [ngClass]="getStatus(case.status)">
                {{ getStatus(case.status).toUpperCase() }}
              </span>
            </td>
            <td>
              <span
                class="status"
                [ngClass]="getStatus(case.status)"
                *ngIf="case.status !== 0"
              >
                {{ getStatus(case.status).toUpperCase() }}
              </span>
              <span *ngIf="case.status === 0">
                <button
                  type="button"
                  class="btn btn-sm btn-success"
                  (click)="caseDecision(case?.id, 1)"
                >
                  Approve
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-danger"
                  (click)="caseDecision(case?.id, 2)"
                >
                  Revoke
                </button>
              </span>
            </td>
            <td class="text-center">
              {{ case.createdAt ? (case.createdAt | date: "medium") : "-" }}
            </td>
            <td class="text-center">
              {{ case.approvedBy ? case.approvedBy : "-" }}
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!cases.length">
          <tr>
            <td colspan="7">
              <h6 class="text-center text-black-50 mt-5">No record found!</h6>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7">
              <pagination-controls
                class="my-pagination"
                (pageChange)="page = $event"
              ></pagination-controls>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
